.container {
	display: block;
	width: 100px;
}

.container :global .mapboxgl-popup-content {
	background-color: white;
	padding: 0.5rem;
}

.container p {
	margin: 0;
}

.container p:not(:first-child) {
	margin: 0.5rem 0 0.5rem;
}

.header {

}

.main {
}

.footer {
}