.container {
	display: block;
	width: 10rem;
	background-color: rgba(255, 255, 255, 0.3);
	color: white;
	text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0px, rgba(0, 0, 0, 0.5) 1px -1px 0px, rgba(0, 0, 0, 0.5) -1px 1px 0px, rgba(0, 0, 0, 0.5) 1px 1px 0px;
	padding: 0.5rem;
}

.container p {
	margin: 0;
}

.container p:not(:first-child) {
	margin: 0.5rem 0 0.5rem;
}

.header {

}

.main {
}

.footer {
}