.container {
  display: inline-block;
  margin-left: 1rem;
  line-height: 2rem;
}

.navLink {
  color: gray;
  text-decoration: none;
  font-size: 1.5rem;
  padding-right: 0.25rem;
  vertical-align: middle;
}

.navLink:active,
.navLink:focus,
.navLink:hover {
  color: black;
}

.navLink:global(.active) {
  color: black;
}