.container {
 display: inline-block;
 flex: 1;
}

.dropdown {
  border: '1px solid #ccc';
  position: absolute;

  /* TODO: centralize z-indeces in a global file */
  z-index: 100;
}

.input {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.1rem 0.25rem;
}