html, body {
  margin: 0;
  height: 100%;
}

:global #app {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}