.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#map {
  width: 100%;
  flex: 1;
}

#toggleThreed {

}

#toggleSatellite {

}

#timeSlider {
  width: 300px;
}

.minus {

}

.plus {

}